<ion-header>
  <ion-toolbar color="header">
    <ion-title>Seed Word Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="content-wrapper">

    <div padding>
      <ion-segment [(ngModel)]="generator">
        <ion-segment-button value="single">
          Single
        </ion-segment-button>
        <ion-segment-button value="double">
          Double
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngIf="generator === 'single'" >
      <p class="instructions">
        Create a phrase you can commit to long-term memory.
        <button ion-button color="dark" (click)="clickPhraseQuestion($event)">
          <ion-icon name="help-circle"></ion-icon>
        </button>
      </p>

      <ion-item class="phrase">
        <ion-label stacked>Enter Phrase:</ion-label>
        <ion-textarea type="text" name="phrase" [(ngModel)]="phrase"></ion-textarea>
      </ion-item>

      <ion-list class="word-counts">
        <ion-item>
          <ion-label>Security level</ion-label>
          <ion-select [(ngModel)]="wordCount" interface="popover">
            <ion-option value="12">Good (12 words)</ion-option>
            <ion-option value="18">Better (18 words)</ion-option>
            <ion-option value="24">Best (24 words)</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <button ion-button block margin-top (click)="clickSubmit()">Submit</button>

      <div *ngIf="isEmptyError" class="error" margin-top>Create a phrase before submitting</div>

      <ng-container *ngIf="mnemonic">
        <h1>Result</h1>
        <p class="results">{{mnemonic}}</p>
        <div *ngFor="let group of groups">{{group}}</div>
      </ng-container>
    </div>

    <div *ngIf="generator === 'double'" >
      <p>
        TODO: Do the same thing, but ask for 2 phrases to be entered.  Show them as *** so users cannot see each other's phrases.
      </p>
    </div>

  </div>

</ion-content>
