<ion-header>
  <ion-toolbar color="header">
    <ion-title>Seed Word Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngClass]="{'not-mobile': !isMobile}">
  <div class="desktop-width">

    <ion-item text-wrap class="instructions">
      Create a phrase you can commit to long-term memory.
      <button ion-button color="dark" (click)="clickPhraseInfo()">
        <ion-icon name="help-circle"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Enter Phrase</ion-label>
      <ion-textarea
        type="text"
        name="phrase"
        [(ngModel)]="model.phrase"
        (ionChange)="changeForm()"
        >
      </ion-textarea>
    </ion-item>

    <ion-item class="segment-label">
      <ion-label color="primary">Choose Network Algorithm</ion-label>
    </ion-item>

    <ion-item class="segment">
      <ion-segment [(ngModel)]="model.bip" (ionChange)="changeForm()">
        <ion-segment-button value="BIP39">BIP39</ion-segment-button>
        <ion-segment-button value="BIP32">BIP32 (Electrum)</ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item *ngIf="model.bip === 'BIP39'">
      <ion-label stacked color="primary">Choose Security level</ion-label>
      <ion-select
        interface="popover"
        [(ngModel)]="model.wordCount"
        (ionChange)="changeForm()"
        >
        <ion-option value="12">Good (12 words)</ion-option>
        <ion-option value="18">Better (18 words)</ion-option>
        <ion-option value="24">Best (24 words)</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="model.bip === 'BIP32'">
      <ion-label stacked color="primary">Optional Phrase
        <span class="alternate-universe">ALTERNATE UNIVERSE</span>
      </ion-label>
      <ion-textarea
        type="text"
        name="passphrase"
        [(ngModel)]="model.passphrase"
        (ionChange)="changeForm()"
        >
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="model.bip === 'BIP32'">
      <ion-label stacked color="primary">Optional Account Number</ion-label>
      <ion-input
        type="number"
        name="accountNumber"
        [(ngModel)]="model.accountNumber"
        (ionChange)="changeForm()"
        >
      </ion-input>
    </ion-item>

  </div>
</ion-content>

<ion-footer *ngIf="bip39Mnemonic" padding [ngClass]="{'not-mobile': !isMobile}">
  <div class="desktop-width">
    <h1>
      <div>Seed Words</div>

      <!-- This element is never shown - but needed for clipboard feature -->
      <ion-input
        hidden
        type="text"
        name="mnemonic"
        [(ngModel)]="model.bip === 'BIP39' ? bip39Mnemonic : bip32Mnemonic"
        >
      </ion-input>

      <button
        ion-button
        color="footer"
        ngxClipboard
        [cbContent]="model.bip === 'BIP39' ? bip39Mnemonic : bip32Mnemonic"
        (cbOnSuccess)="clickClipboard($event)"
        >
        <ion-icon name="clipboard" color="primary"></ion-icon>
      </button>
    </h1>
    <p class="results">{{model.bip === 'BIP39' ? bip39Mnemonic : bip32Mnemonic}}</p>
  </div>
</ion-footer>

